$color-primario: rgb(128, 0, 128);
$color-secundario: rgb(153, 50, 204);
$color-acento: rgb(128, 130, 238);
$color-blanco: #fff;
$color-negro: #000;
$color-borde: #ddd;
$fuente-principal: "Google Sans", sans-serif;